/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************Elements**************/
body {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: #40514e;
  line-height: 2;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Lato', sans-serif;
  Font-Size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Lato', sans-serif;
  Font-Size: 1rem;
  font-weight: bold;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover{
  color: white;
}

hr{
border: none;
width: 3%;
border-top: 5px dotted #c8e0e0;
margin: 50px auto;
}
/********************Class**************/
.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}


.cloud-one {
  position: absolute;
  top: 90px;
  right: 300px;
}

.cloud-two {
  position: absolute;
  bottom: 300px;
  left: 350px;
}

.profile{
  width: 40%;
  margin: 50px auto;

}

.skills{
  margin: 50px auto;
}

.contact-me{
margin: 50px auto;
width: 40%;


}

.contact-space{
  margin: 70px;
}

.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
}

.skill-picture1{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}


.skill-picture2{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container{
margin:50px auto;

}
.face-photo{

  border-radius: 100%;
  width: 25%;
}

.intro{
width: 50%;
margin: 30px auto;

}

.bottom-container{
  background-color: #66BFBF;
  height: 150px;
  padding-top: 50px;
}

.footer-link{
  margin: 50px 30px 50px;
}


.contact-blurb{

  margin: 30px
}

.myButton {
  margin-top: 50px;
	background-color:#66bfbf;
	border-radius:28px;
	border:1px solid #397070;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1d7575;
}
.myButton:hover {
	background-color:#66bfbf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.copy-rite{
  margin-top: 50px;
  color: white;
}
